/* ===================
CSS Reset (Reference from Kevin Powell CSS reset
======================*/

/* ### Primary

- Soft red: hsl(7, 99%, 70%)
- Yellow: hsl(51, 100%, 49%)
- Dark desaturated cyan (graphic design text): hsl(167, 40%, 24%)
- Dark blue (photography text): hsl(198, 62%, 26%)
- Dark moderate cyan (footer): hsl(168, 34%, 41%)

### Neutral

- Very dark desaturated blue: hsl(212, 27%, 19%)
- Very dark grayish blue: hsl(213, 9%, 39%)
- Dark grayish blue: hsl(232, 10%, 55%)
- Grayish blue: hsl(210, 4%, 67%)
- White: hsl(0, 0%, 100%) */

/* makes sizing simpler */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
  font-size: 18px;
}

/* min body height */

body {
  min-height: 100vh;
  font-family: 'Barlow', sans-serif;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* ===================
General Layout
======================*/

h1,
h2,
h3 {
  font-family: 'Fraunces', serif;
}

a {
  text-decoration: none;
  
}

li {
  list-style: none;
}

/* ===================
navbar styling
======================*/

header {
  display: flex;
  flex-direction: column;
  background-color: lightblue;
}

.logo {
  color: white;
  font-weight: 700;
  font-size: 1rem;
}

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
}

.top-navbar__hamburger-menu {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.top-navbar__h1 {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: white;
  padding: 2em 0.5em;
  font-size: 1.5rem;
  text-align: center;
}
